.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: green; 
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .container .logo {
    font-size: 19px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }
  
  .container .nav-links {
    display: flex;
    align-items: center;
  }
  
  .container .nav-links i {
    margin-left: 26px;
    font-size: 23px;
    cursor: pointer;
  }
  

  /* DARK MODE STYLES */

  body.dark-mode .container{
    background-color: black;
  }


  @media (max-width: 768px) {
    .container {
      height: 70px;
      align-items: center;
    }

    .container .logo{
      font-size: 14px;
    }
  
    .container .nav-links i{
      font-size: 18px;
    }
  }
  
  